- attributes("title") = "Tipz - Add Counterpart"
- import com.mongodb.casbah.Imports
-@ val counterpartList : List[Imports.DBObject]
-@ val errorMessage : String
-@ val counterpartName : String
-@ val counterpartDescription : String
-@ val counterpartValue : Float

p Counterpart name
p Counterpart description
p Counterpart value