- import com.mongodb.casbah.Imports
-@ val projectName : String
- attributes("title") = "Tipz - Create project"
-@ val projectDescription : String
-@ val projectAuthor : String
-@ val projectContact : String
-@ val errorMessage : String


p Project name creation