- import com.mongodb.casbah.Imports
- attributes("title") = "Tipz - Home"
-@ val projectList : List[Imports.DBObject]

// Page Header
.row
    .col-lg-12
        h1.page-header Accueil

.row
    - for(proj <- projectList) {
        -@ val url : String = "/project/" + proj.get("id").toString.toFloat.toInt + "/"
        a(href=url) Test
        p = proj.get("name")
    - }