- import com.mongodb.casbah.Imports
- attributes("title") = "Tipz - My projects"
-@ val projectList : List[Imports.DBObject]

// Page Header
.row
    .col-lg-12
        h1.page-header Liste de mes projets

.row
    table.table.table-striped.col-lg-12
        thead
            tr
                th Projet
                th Date de création
                th Montant cumulé
        tbody
            - for(proj <- projectList) {
                tr
                    -@ val url : String = "/project/" + proj.get("id").toString.toFloat.toInt + "/edit"
                    td
                        a(href=url) #{proj.get("name")}
                    td
                        p #{proj.get("creationDate")}
                    td
                        p #{proj.get("amount")} € / mois
            - }