- attributes("title") = "Tipz - Participate"
-@ val participateErrorMessage : String
-@ val counterpartValue : Float
-@ val projectName : String
-@ val projectAuthor : String
-@ val counterpartName : String
-@ val counterpartDescription : String
-@ val counterpartId : Int

p participate