- import com.mongodb.casbah.Imports
-@ val projectName : String
- attributes("title") = "Tipz - " + projectName
-@ val projectDescription : String
-@ val projectAuthor : String
-@ val projectContact : String
-@ val counterpartList : List[Imports.DBObject]

p Project name
