- attributes("title") = "Tipz - Sign up"
-@ val errorMessage : String
-@ val email : String
-@ val lastname : String
-@ val firstname : String

// Page Header
.row
    .col-lg-12
        h1.page-header Sign up

- if (errorMessage != "") {
// /.row
.row
    .col-md-3
    |
    .alert.alert-danger.col-md-6.errorMessage  #{errorMessage}
    |
    .col-md-3
// Projects Row
- }


.row
    .col-md-3
    |
    form.col-md-6.form-signin(name="form" action="/session/signup" method="post")
        label Email
        input.form-control(type="email" name="email" placeholder="Email"  required="required" value="#{email}" min="1" autofocus="")
        |
        br
        |
        label Surname
        input.form-control(type="text" name="lastname" placeholder="Surname" required="required" value="#{lastname}" min="1" autofocus="")
        |
        br
        |
        label Name
        input.form-control(type="text" name="firstname" placeholder="Name" required="required" value="#{firstname}" min="1" autofocus="")
        |
        br
        |
        label Password
        input.form-control(type="password" name="password" placeholder="password" required="required")
        |
        hr
        |
        input.btn.btn-lg.btn-primary.btn-block(type="submit" value="Sign up")
    |
    .col-md-3
|