- attributes("title") = "Tipz - Se connecter"

// Page Header
.row
    .col-lg-12
        h1.page-header Se connecter
// /.row
.row
    .col-md-3
    .alert.alert-danger.col-md-6.errorMessage  {{ loginErrorMessage }}
    .col-md-3
// Projects Row
.row
    .col-md-3
    form.col-md-6.form-signin(name='form' action='/session/signin')
        label Email
        input.form-control(type='email' name='email' placeholder='email' required='required' autofocus='')
        br
        label Mot de passe
        input.form-control(type='password' name='password' placeholder='password' required='required')
        hr
        input.btn.btn-lg.btn-primary.btn-block(type="submit" value="Connexion")
    .col-md-3
